.from-php{
    transform: translate(200px,-120px);
}
.menu_phu{
    background-color: #585858;
   display: flex;
   top: 100%;
   width: max-content   ;
   color: white;
   text-transform: uppercase;

   
    
}
